* {
    margin: 0;
    padding: 0;
  }
  
  #scroll {
    height: 10px;
    background-color: red;
    position: fixed;
    /* width: 50%; */
  }
  
  .black {
    width: 100%;
    background-color: #212121;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
  }
  
  .white {
    width: 100%;
    background-color: #fff;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
  }
  